
:root {
    --primary-color: #ff3366;
    --secondary-color: #f4f4f4;
    --background-color: #2c001e;
    --text-color: #f4f4f4;
    --card-background: transparent;
    --button-hover-bg: #e6004c;
    --input-border-color: #ccc;
    --input-focus-border-color: var(--primary-color);
}

.auth-body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'figtree', sans-serif;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo-svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: none;
    text-align: center;
}

.form-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--secondary-color);
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
}

.form-input:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

.cta-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--button-hover-bg);
}

.sm\:max-w-md {
    background-color: transparent !important;
    box-shadow: none !important;
}

