@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ff3366;
    --secondary-color: #f4f4f4;
    --background-color: #2c001e;
    --text-color: #f4f4f4;
}

.app-body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 4rem;
}

.navbar-dark {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--primary-color);
}

.navbar-dark .text-gray-800 {
    color: var(--text-color);
}

.navbar-dark .text-gray-500 {
    color: var(--text-color);
}

.navbar-dark .text-gray-400 {
    color: var(--text-color);
}

.navbar-dark .bg-white {
    background-color: transparent;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo-svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.logo-text {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.navbar-dark .logo-text {
    font-weight: 900;
    letter-spacing: -2px;
    background: linear-gradient(135deg, #fff, var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
