@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-noir font-serif;
}

.form-container {
    @apply bg-noir-light p-8 rounded-lg shadow-lg w-full max-w-md;
}

.form-title {
    @apply text-rose text-3xl font-bold mb-4;
}

.form-label {
    @apply text-white text-sm font-bold mb-2;
}

.form-input {
    @apply bg-noir border border-gray-600 rounded-lg w-full py-2 px-3 text-gray-300 leading-tight focus:outline-none focus:ring-2 focus:ring-rose;
}

.cta-button {
    @apply bg-rose text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-rose;
}
